.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4rem;
  padding-top: 2rem;
  background-color: #121b27;
  align-items: center;
}

/* .logo img {
  /* height: 2rem;
  width: 4rem; 
} */

.header button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 0.1rem solid #ba2ad1;
  color: white;
  font-size: 1.3rem;
  background-color: transparent;
}

/* background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 88.1%); */
