.Ui {
  position: relative;
}

.Ui div {
  position: absolute;
}
@keyframes rotation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(360deg);
  }
}

.firstCircle {
  width: 6rem;
  height: 6rem;
  left: 70%;
  top: 0;
  border-radius: 100%;
  background: linear-gradient(92.7deg, #5404ff 7.9%, #ba2ad1 88.1%);
  box-shadow: inset 1.02px 2.04px 51px #001d6e;
  z-index: 10;
  animation: rotation 3s alternate-reverse infinite;
}
@media only screen and (max-width: 800px) {
  .firstCircle {
    width: 4rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 750px) {
  .firstCircle {
    top: 1rem;
  }
}

.secondCircle {
  width: 10rem;
  height: 10rem;
  left: 5%;
  top: 105px;
  border-radius: 100%;
  background: linear-gradient(92.7deg, #5404ff 7.9%, #ba2ad1 88.1%);
  box-shadow: inset 2px 4px 100px #001d6e;
  z-index: 10;
  animation: rotation 3s alternate-reverse infinite;
}
@media only screen and (max-width: 800px) {
  .secondCircle {
    width: 8rem;
    height: 8rem;
  }
}
@media only screen and (max-width: 800px) {
  .secondCircle {
    left: 1%;
  }
}
.thirdCircle {
  right: -7%;
  height: 20rem;
  width: 20rem;
  top: 15rem;
  border-radius: 100%;
  background: linear-gradient(92.7deg, #5404ff 7.9%, #ba2ad1 88.1%);
  box-shadow: inset 4px 8px 200px #001d6e;
  filter: blur(15px);
  overflow: hidden;
  animation: rotation 3s alternate-reverse infinite;
}
@media only screen and (max-width: 900px) {
  .thirdCircle {
    right: -15%;
  }
}
@media only screen and (max-width: 800px) {
  .thirdCircle {
    width: 15rem;
    height: 15rem;
  }
}
.firstStar {
  top: 3rem;
  left: 30%;
  animation: rotation 5s infinite;
}
.secondStar {
  right: 15%;
  top: 10rem;
  animation: rotation 5s 2s infinite;
}

@media only screen and (max-width: 900px) {
  .line {
    right: 10%;
  }
}

.thirdStar {
  left: 13%;
  top: 40rem;
  animation: rotation 5s 3s infinite;
}
@media only screen and (max-width: 800px) {
  .thirdStar {
    left: 2%;
    top: 40rem;
  }
}

.fourthStar {
  right: 6%;
  top: 37rem;
  animation: rotation 5s 5s infinite;
}
@media only screen and (max-width: 650px) {
  .fourthStar {
    top: 46rem;
  }
}
@media only screen and (max-width: 800px) {
  .fourthStar {
    right: 2%;
  }
}
@media only screen and (max-width: 500px) {
  .fourthStar {
    top: 50rem;
    right: 2%;
  }
}
@media only screen and (max-width: 490px) {
  .fourthStar {
    top: 40rem;
    right: 2%;
  }
}
.arrow {
  top: 23rem;
  right: 24%;
}
@media only screen and (max-width: 1085px) {
  .arrow {
    top: 30rem;
  }
}
@media only screen and (max-width: 900px) {
  .arrow {
    top: 32rem;
    right: 17%;
  }
}
@media only screen and (max-width: 750px) {
  .arrow {
    top: 32rem;
    right: 15%;
  }
}
@media only screen and (max-width: 650px) {
  .arrow {
    top: 35rem;
    right: 10%;
  }
}
@media only screen and (max-width: 650px) {
  .arrow {
    top: 35rem;
    right: 10%;
  }
}
@media only screen and (max-width: 500px) {
  .arrow {
    top: 40rem;
    right: 0%;
    transform: rotate(120deg);
  }
}
@media only screen and (max-width: 490px) {
  .arrow {
    top: 48rem;
    right: 10%;
    transform: rotate(120deg);
  }
}
@media only screen and (max-width: 480px) {
  .arrow {
    display: none;
  }
}
/* footer  */
.fifthCircle {
  width: 6rem;
  height: 6rem;
  left: 12%;
  top: 5rem;
  border-radius: 100%;
  background: linear-gradient(92.7deg, #5404ff 7.9%, #ba2ad1 88.1%);
  box-shadow: inset 1.02px 2.04px 51px #001d6e;
  animation: rotation 3s alternate-reverse infinite;
}

.blueStar1 {
  right: 10%;
  top: 3rem;
  animation: rotation 7s infinite;
}

.blueStar2 {
  left: 40%;
  top: 8rem;
  animation: rotation 7s infinite;
}

.fifthStar {
  top: 15rem;
  left: 30%;
  animation: rotation 7s infinite;
}
.sixthStar {
  top: 36.5rem;
  left: 40%;
  animation: rotation 7s 5s alternate-reverse infinite;
}
.seventhStar {
  right: 9%;
  top: 53rem;
  animation: rotation 7s 2s alternate-reverse infinite;
}

.line {
  top: 23.5rem;
  left: 18%;
}
@media only screen and (max-width: 1300px) {
  .line {
    top: 24rem;
  }
}
@media only screen and (max-width: 1200px) {
  .line {
    top: 23.5rem;
    left: 10%;
  }
}
@media only screen and (max-width: 933px) {
  .line {
    top: 22.5rem;
  }
}
